:root {
  --main-color: #0b0b0b
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}